/* header section */

.header {
  background: url(../img/main_back-min.jpg) center center/cover no-repeat;
}

.container_header-wrapper {
  padding: 40px 80px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.header__content-intensive {
  margin: 14px 0px 40px;
  font-size: 15px;
  font-family: "Roboto Medium";
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.header__content-subtitle {
  font-size: 41px;
  font-family: "Roboto Black";
  text-transform: uppercase;
  color: #f9bf3b;
  text-align: center;
  margin-bottom: 20px;
}

.header__content-title {
  font-size: 80px;
  font-family: "Roboto Black";
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.header__content-description {
  font-size: 21px;
  font-family: "Roboto Light";
  line-height: 28px;
  text-align: center;
  color: #fff;
}

.header__content-free {
  font-family: "Roboto Bold";
  color: #f9bf3b;
}

.header__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__action-link {
  font-size: 15px;
  font-family: "Roboto Light";
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.header__action-text {
  margin-bottom: 10px;
}
