@import url(./header.css);
@import url(./waiting.css);
@import url(./optimization.css);
@import url(./finish.css);
@import url(./bonus.css);
@import url(./time.css);
@import url(./footer.css);

@import url(./media.css);

@import url(./modal.css);

@import url(./global-button.css);
@import url(./global-title-items.css);
@import url(./global-container.css);

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
